.how-works {
  display: flex;
  flex-direction: column;
  align-items: center;

  &::after {
    display: block;
    content: '';
    height: 1px;
    max-width: 1220px;
    width: 100%;
    margin: 240px auto;
    background-color: $color-gray-inconspicuous;
  }

  &__title {
    max-width: 531px;
    margin-bottom: 21px;
  }

  &__text {
    max-width: 648px;
    margin-bottom: 58px;
  }

  &__order-points {
    display: flex;
    gap: 42px;
    margin-bottom: 56px;
  }

  &__order-point {
    max-width: 374px;
    text-align: center;
  }

  &__order-point-image {
    max-height: 240px;
    max-width: 240px;
    margin-bottom: 39px;
  }

  &__order-point-title {
    margin-bottom: 16px;
  }

  &__buttons {
    display: flex;
    gap: 28px;
  }

  &__button {
    font-weight: $f-weight-normal;
  }

  @media (max-width: map-get($screens, xl)) {
    padding-left: 43px;
    padding-right: 43px;

    &__order-points {
      flex-wrap: wrap;
      justify-content: center;
    }
  }

  @media (max-width: map-get($screens, lg)) {
    padding-left: 30px;
    padding-right: 30px;

    &::after {
      margin: 120px auto;
    }
  }

  @media (max-width: map-get($screens, md)) {
    padding-left: 15px;
    padding-right: 15px;

    &__buttons {
      flex-wrap: wrap;
      align-self: stretch;
      justify-content: center;
    }
  }

  @media (max-width: map-get($screens, sm)) {
    &__title {
      font-size: 34px;
      line-height: 44px;
    }
  }
}
