.info {
  display: flex;
  color: inherit;

  &__icon {
    width: 72px;
    height: 72px;
    margin-right: 16px;
    border-radius: 50%;
  }

  &__content {
    align-self: stretch;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  &__subtitle {
    text-transform: uppercase;
    margin-bottom: 4px;
    color: $color-gray;
  }

  @media (max-width: map-get($grid-bps, sm)) {
    &__icon {
      width: 44px;
      height: 44px;
    }

    &__title {
      font-size: $fs-h5;
      line-height: $lh-h5;
    }

    &__subtitle {
      font-size: $fs-small;
      line-height: $lh-small;
    }
  }
}
