.navigation {
  display: flex;
  align-items: center;
  background-color: $color-white;

  &__list {
    display: flex;
    flex-wrap: wrap;
    gap: 22px;
  }

  &__link {
    font-size: $fs-base;
    line-height: $lh-p;
    color: $color-purple;
    width: 100px;
  }

  @media (max-width: map-get($screens, lg)) {
    &__link {
      font-size: $fs-h4;
      line-height: $lh-h4;
      color: $color-purple;
      width: 100px;
    }

    &__list {
      flex-direction: column;
      padding: 180px 24px;
    }
  }
}
