.request-cleaning {
  padding: 240px 110px;
  max-width: none;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  gap: 60px;
  background-color: $color-blue-inconspicuous;

  &__content {
    max-width: 488px;
    display: flex;
    flex-direction: column;
    margin-top: 142px;
  }

  &__title {
    margin-bottom: 8px;
  }

  &__text {
    margin-bottom: 12px;
  }

  &__additional {
    padding-top: 52px;
    margin-top: 55px;
    border-top: 1px solid $color-gray-inconspicuous;
  }

  &__question {
    margin-bottom: 9px;
  }

  &__explanation {
    margin-bottom: 10px;
  }

  &__button {
    align-self: flex-start;
  }

  &__request-cleaning__form-wrapper {
    padding-top: 118px;
    margin-top: -118px;
    max-width: 673px;
    width: 100%;
  }

  @media (max-width: map-get($screens, xxl)) {
    padding: 240px 43px;
  }

  @media (max-width: map-get($screens, xl)) {
    align-items: center;
    flex-direction: column;

    &__content {
      margin-top: 0;
    }
  }

  @media (max-width: map-get($screens, lg)) {
    padding-bottom: 120px;
    padding-left: 30px;
    padding-right: 30px;
  }

  @media (max-width: map-get($screens, md)) {
    padding-left: 15px;
    padding-right: 15px;

    &__request-cleaning__form-wrapper {
      padding-top: 86px;
      margin-top: -86px;
    }

    &__form-wrapper {
      align-self: stretch;
    }
  }

  @media (max-width: map-get($screens, sm)) {
    &__title {
      font-size: 34px;
      line-height: 44px;
    }

    &__request-cleaning__form-wrapper {
      padding-top: 74px;
      margin-top: -74px;
    }
  }
}
